input , .select{
	margin-bottom: 10px;
}
label {
	font-size: 20px;
	width: 100%;
}
#fieldAdd {
	margin-top: 30px;
	margin-bottom: 20px;
}
#upload {
	margin-top: 10px;
}

.buttons {
	margin-top: 20px;
	margin-bottom: 20px;
}
