#AMresult table thead tr #name {
	max-width: 20%;
}
#AMresult table thead tr .stusum {
	max-width: 10%;
}
#AMresult table thead tr #ques {
	max-width: 7%;
}

#AMresult table thead tr td{
	height: 30px;
}
#answershead div div {
	margin-top: -5px;
}

.select {
	min-width: 0;
}
.parnum {
	font-size: 200%;
}
.par {
	font-size: 25px;
	margin: -20px 0 -20px 0;
}
.qno {
	font-size: 130%;
}

*{
	font-weight: 500;
}

#q0, #q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9 {
	border-top: solid 1px #ddd;
	border-left: solid 1px #ddd;
}
#q5, #q6, #q7, #q8, #q9 {
	border-bottom: solid 1px #ddd;
}
#q4, #q9{
	border-right: solid 1px #ddd;
}

.col-par-5 {
	position:relative;
	min-height:1px;
	padding-right:15px;
	padding-left:15px;
	float:left;
	width: 20%;
}
.col-par-5 #question {
	height: 90px;
	font-size: 15px;
}

#examdata {
	margin-top: 40px;
}
.pagination-plain * {
	font-size: 20px;
}
.pagination-plain {
	margin: 0 0 0px;
}
.pagination-plain > li.next {
	padding-left: 10px;
}
.pagination-plain > li.prev {
	padding-right: 10px;
}
