/*　年度タイトル　*/
#exam-title{
    font-size: 30px;
    border-bottom: 1px solid #148d75;
}

/*　問題番号　*/
#qaa-question-no{
    margin-top: 18px;
    font-size: 20px;
}

/*　問題文の調整　*/
.qaa-question{
    text-align: left;
    margin: 3px 0px 10px;
}


/*　解答文の調整　*/
.select-choice{
    display: inline-block;
      /* 自動改行 */
    /*word-break: keep-all;  ←解答文が余りにも長文だと、文章が枠外に出てしまうため凍結  */
    margin-left: 15px;
}


/*　テーブル内のボタン位置調整　*/
.btn-embossed{
    margin: 5px 0px 0px 8px;
}

    /*background-color: #53cd5c;*/
/*}*/

/* テーブル内のボタンをラジオボタン化 */
[data-toggle=buttons]>table>tbody>tr>td>.btn>input[type=radio],
[data-toggle=buttons]>table>tbody>tr>td>.btn>input[type=checkbox]{
    position: absolute;
    z-index: -1;
    filter: alpha(opacity=0);
    opacity: 0;
}

/* 解答選択ボタンの調整 */
.all-choice-btn{
    margin: 21px 0px 0px 8px;
    box-shadow: inset 0px -2px 0px rgba(0,0,0,0.15);
}


/* 解答選択肢が共通の画像の場合の位置調整 */
.all-choice-text{
    margin-left: 50px;
}

/* テーブルの空白調整 */
.table{
    margin-top: 10px;
}


/*　テーブル内部の線を消す　*/
#table * {
    border: none;
}

/*　テーブルを囲む線　*/
#table {
    border: solid 1px #b6b6b6;
}

/*　下部の3つのボタン　*/
.qaa{
    margin: 48px 0px 70px 0px;
    display: flex;
    justify-content: space-between;
    padding:0;
}

/*　下部「解答を終了する」ボタン　*/
.qaa-score a{
    background-color: #3278b3;
}
.qaa-score a:hover{
    background-color: #3d8bd4;
}