/*ヘッダー*/
#qaa-title{
    font-size:50px;
    font-weight: bold;
    float:left;
}

#qaa-sub{
    text-align: right;
    border-bottom: solid 1px #aeb6bf;
    padding-top: 25px;
    font-size: 30px;
    font-weight: bold;
}

#qaa-detail{
    text-align: right;
    border-bottom: solid 1px #aeb6bf;
    padding-top: 25px;
    font-size: 30px;
    font-weight: bold;
}

#qaa-explanation{
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
    font-size: 20px;
}

.caption-box{
    position: relative;
    margin-top: 20px;
    padding: 25px 20px 10px 20px;
    border: 1px solid #aeb6bf;
}

.caption{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 20px;
    font-size: inherit;
    background-color: transparent;
    transform: translateY(-35%) translateX(1em);
    font-weight: bold;
}
/*ヘッダー*/
/*ジャンル選択*/
.checkbox {
    height : 20px;
}
.checkbox label{
    max-height : 20px;
    margin-top: -10px;
}

.genre-container .btn{
    margin-top: 20px;
    text-align: center;
}
/*ジャンル選択*/

/*問題*/
/*出典*/
.source{
    text-align: right;
    font-size: small;
}

/*問番号*/
#qaa-question-no{
    font-size: 25px;
    font-weight: bold;
}

/*問題文*/
.qaa-question{
    text-align: left;
    margin: 10px;
}

/*正誤*/
.qaa-falsehood{
    text-align: left;
    margin: 30px;
    font-size: 40px;
}

/*選択肢テーブル*/
.qaa_select_table{
    margin: 10px;
    /*word-break: keep-all;*/
}
#choice-table.table-bordered > tbody > tr >td{
    border: none;
    padding: 5px;
}

/*回答が画像の場合の設定*/
/*画像*/
.ans-img{
    text-align: center;
    margin: 20px;
}
/*選択肢ボタン*/
.select-answer{
    text-align: center;
    margin: 10px;
}

.select-answer .btn{
    padding: 10px 30px 10px 30px;
    margin: 20px;
}

#btn-row ul{
    list-style: none;
    position: relative;
    left: 45%;
    float: left;
}

#btn-row li{
    position: relative;
    left: -50%;
    float: left;
    margin: 20px 30px 10px 30px;
}

/*プログレスバー*/
.progress{
    height: 20px;
    margin:3px 0 5px 0;
}
.progress-bar {
    line-height: 0;
}

.accuracy-rate{
    margin-top: 11px;
}

.progress-bar-danger{
    background-color: darkgray;
}

/*エラー警告画面*/
#qaa-alert{
    margin: 20px;
}

/*qaaResult*/
#log-table{
    margin-top: 20px;
}
#result-table{
    margin-top: 20px;
}
#qaa-answerpic{
    margin: 10px;
    text-align: center;
}
#log-yourans{
    background: linear-gradient(transparent 15%, #ffff66);
    vertical-align: middle;
    text-align: right;
}
#log-ans{
    background: linear-gradient(transparent 15%, #ff99ff);
    vertical-align: middle;
    text-align: right;
    margin-bottom: 10px;
}

.pagination-plain{
    text-align: center;
}

.pagination-plain li{
    display: inline;
    margin: 5px;
}

.return-selectgenre{
    text-align: center;
}

/*テスト用 外枠表示*/
    /*#col-main * {*/
    /*border: solid 1px black;*/
/*}*/
a {
    cursor: pointer;
}