/*　年度タイトル　*/
#exam-title{
	font-size: 30px;
	border-bottom: 1px solid #148d75;
}

/* テーブルのスコアの大枠線調整 */
.score-table{
	border: solid;
}

/* スコアの枠調整 */
.score-box{
	background-color: rgba(182, 237, 245, 0.27);
	padding: 20px 0px 10px 0px;
}

/*  スコアの調整  */
.score{
	font-size: 50px;
}

/*  スコア強調用  */
#score-opt {
	color: #faad08;
	text-shadow:
			-1px -1px 0px #5c5c5c,
			1px -1px 0px #5c5c5c,
			1px 1px 0px #5c5c5c,
			-1px 1px 0px #5c5c5c;
}

/*  メッセージ調整  */
.message{
	margin-bottom: 20px;
}


/* テーブルの空白調整 */
#ans-table.table{
	margin: 0px 0px 0px 0px;
}


/* テーブルの空白調整 */
#ans-table{
	margin-top: 80px;
}

/* テーブル行の色調整 */
#ans-table tr:nth-child(odd)  {
	background-color: #EAF6FD;
}


/* テーブル上部の調整 */
.table-title{
	border-top: solid;
}

/* テーブル項目の色調整 */
.table-project{
	background-color: #fdf9f9;
}

/*  テーブル列のタイトル  */
th{
	text-align: center;
}

/*  問題No.の調整  */
#qes-no{
	/*text-align: center;*/
}
/* 問題No.ボタンの調整 */
.select-btn{
width: 4em;
}

/* //////////////////////////////モータルウィンドウ///////////////////////////  */
/* 全項目に共通の調整 */
.modal-all{
	text-align: left;
}

/* 問題番号の調整 */
.modal-qesnum{
	margin-bottom: 4px;
	font-weight: bold;
}

/* 問題文の調整 */
.modal-qes-text{
}

/* テーブルの位置調整 */
.modal-table{
	margin: 20px 0px 30px 0px;
}


/* テーブル行の色調整 */
.modal-table tr:nth-child(odd){
	background-color: #EAF6FD;
}

/* 解答の位置調整 */
.modal-ans{
	padding: 7px 10px 0px 0px;
}

/* 自分の解答の調整 */
#you-ans{
	background: linear-gradient(transparent 15%, #ffff66 15%);
}

/* 答えの調整 */
#pass{
	background: linear-gradient(transparent 15%, #ff99ff 15%);
}

/* //////////////////////////////モータルウィンドウ///////////////////////////  */
.qes-text{
	/* 表示領域を指定 */
	width: calc(100vw / 6);
	/* 改行禁止 */
	white-space: nowrap;
	/* 表示領域外非表示 */
	overflow: hidden;
	/* 末尾「...」表示 */
	text-overflow: ellipsis;
}

/* 正解解答文の調整 */
/*.ans-text{*/
	/*!* 表示領域を指定 *!*/
	/*width: calc(100vw / 20);*/
	/*!* 改行禁止 *!*/
	/*white-space: nowrap;*/
	/*!* 表示領域外非表示 *!*/
	/*overflow: hidden;*/
	/*!* 末尾「...」表示 *!*/
	/*text-overflow: ellipsis;*/
	/*display: inline-block;*/
/*}*/

/*    ○×セルの調整 　 */
.ans-check{
	text-align: center;
	margin-bottom: 0;
	font-size: 1.1em;
}

/* 〇の色調整 */
#correct{
	color: #f50000;
}


.ans{
	text-align: center;
}

p{
	margin: 3px 0px 3px 0px;
}


/*  TOPボタンの調整   */
.top-btn{
	width: 10em;
	text-align: center;
}


 