/* 年度タイトル */
.exam-title{
    font-size: 50px;
    border-bottom: 1px solid #148d75;
}

/* タイトル下の文章調整 */
.message{
    margin-bottom: 20px;
}

/* テーブルの調整 */
.year-box{
    border: solid;
    margin: 2px 50px 0px 10px;
}

/* テーブル項目の位置調整 */
.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>th,.table>caption+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>td,.table>thead:first-child>tr:first-child>td {
    text-align: center;
}

/* テーブル下部の空白調整 */
.table-bordered{
    margin-bottom:  0px;
}

/* 年度選択ボタンの文字色を変更する */
.year-btn a{
    color: #e7e7e7;
}