/*flat-ui 上書き用CSS*/
.navbar-collapse .navbar-nav.navbar-right:last-child > .dropdown:last-child > a {
    border-radius: 0;
	padding-left:10px;
	padding-right:10px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color:#f1f1f1;
}
a.navbar-brand {
    padding:10px 0 10px 0;
	
}
/*div.container-fluid {*/
    /*padding-left:0;*/
/*}*/

.navbar-inverse .navbar-nav > .open > a:focus {
	color: #d82732;
	background-color: #fcfefe;
}
.navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a{
	color: #fcfefe;
	border-radius: 0;
	padding-top:9px;
	padding-bottom:9px;
	
}
.navbar-inverse .navbar-nav > .open > .dropdown-menu {
	background-color: #424448;
	padding:0;
}


.navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a:hover {
	background-color: #d82732;
	color: #fcfefe;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #fcfefe;
}
.navbar-inverse .navbar-nav > li > a:hover {
	color: #bdc3c7;
}
.navbar-nav > li > .dropdown-menu {
	margin-top:0;
	border-radius: 0;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret,
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret, .navbar-inverse .navbar-nav > .dropdown > a:focus .caret{
	 border-top-color: initial;
	 border-bottom-color: initial;
}