/*flat-ui 上書き用CSS*/
.navbar-collapse .navbar-nav.navbar-right:last-child > .dropdown:last-child > a {
    border-radius: 0;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color:#f1f1f1;
}
a.navbar-brand {
    padding:10px;
}
/*div.container-fluid {*/
    /*padding-left:0;*/
/*}*/