.exam-title{
    font-size: 50px;
    border-bottom: 1px solid #148d75;
}
.btn {
    /*font-size: 1px;*/
    /*padding: 6px 11px;*/
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 5px;
    transition: border 0.1s linear, color 0.1s linear, background-color 0.1s linear;
}
.end-btn {
    margin-right: 0;
}
/*.sentence {*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*display: table-cell;*/
/*}*/
/*.table .sentence {*/
    /*position: relative;*/
/*}*/
/*table .sentence span {*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
/*}*/
/*.text:before {*/
    /*content: '';*/
    /*display: inline-block;*/
/*}*/
/*.btn-info:hover{*/
    /*background: lightskyblue;*/
/*}*/
/*.btn-info {*/
    /*background: skyblue;*/
/*}*/
/*.btn-info.active {*/
    /*background: #d82732;*/
/*}*/


@media screen and (max-width: 991px) {
    #input-table {
        border: none;
    }
    #input-table thead {
        display: none;
    }
    #input-table tr {
        display: block;
        margin-bottom: 20px;
    }
    #input-table td {
        display: block;
        padding: 10px;
        text-align: center;
    }
}