.btn.btn-info {
    /*font-size: 1px;*/
    /*padding: 6px 11px;*/
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 5px;
}
.end-btn {
    margin-right: 0;
}

/*.btn-info:hover{*/
    /*background: lightskyblue;*/
/*}*/
/*.btn-info {*/
    /*background: skyblue;*/
/*}*/
.btn-info.active {
    background: midnightblue;
}